appdirs==1.4.3
aspy.refactor-imports==2.1.0
attrs==19.3.0
black==19.10b0
cached-property==1.5.1
click==7.1.1
fastapi==0.52.0
isort==4.3.21
mypy==0.770
mypy-extensions==0.4.3
pathspec==0.7.0
pydantic==1.4
regex==2020.2.20
seed-isort-config==2.1.0
starlette==0.13.2
toml==0.10.0
typed-ast==1.4.1
typing-extensions==3.7.4.1
